
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,800");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.site-header {
  background: white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

hr {
    margin-top: 0;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
    padding: 10px;
}



.logo img {
    width: 100px;
    height: 50px;
    border-right: 1px solid red;
}
.site-nav {
  ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: flex-start;
            flex-direction: flex-start
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    padding-left: 10px;
    display: inline-block;
  }
}
.fa {
    padding-top: 2px;
    padding-left: 0;
    width: 5px;
}

.searchIcon {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  font-family: FontAwesome;
  font-size: 22px;
}

.search {
  color: black;
  margin-left: 10px;
  text-transform: uppercase;
}

h3 {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 800;

}

.mainContent{
    padding: 16px;

    p {

        padding: 0;
        padding-top: 10px;
    }
}

.homepage {
    padding-top: 20px;

}

.firstContent {
    width: 70%;
    float: left;
    border: 2px solid #e0e0e0;
    height: auto;
    display: inline-block;
    -webkit-transition: border 1s;
    -webkit-transition: border 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;



    img {
        width: 70%;
        margin: 50px 0;
        vertical-align: top;
        height: 400px;
    }

    .mainTitle {
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.firstContent:hover{
            -webkit-box-shadow: 0px 0px 0px 3px  #e0e0e0;
                    box-shadow: 0px 0px 0px 3px #e0e0e0;
}

.mainSource {
    color: #545454;
    font-family: $font-family;
}
.content {

    display: inline-block;
    width: 29%;
    word-wrap: break-word;
    height: auto;
    padding: 0 1%;
    margin: 50px 0;
    font-family: 'Open Sans', sans-serif;
}


.homepageHr {
    background-color: black;

}

.socialMediaBox {
    width: 28%;
    margin-left: 2%;
    margin-top: 10px;
    float: right;
    border: 1px solid #e0e0e0;
    font-family: FontAwesome;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    h3 {
        padding-left: 10px;
        padding-top: 15px;
        font-weight: 800;
    }

    .socialIcons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-evenly;

    }
}

.socialMediaBox:hover {
    -webkit-box-shadow: 0px 0px 0px 3px #e0e0e0;
            box-shadow: 0px 0px 0px 3px #e0e0e0;
}

.container {
    padding-left: 16px;
}

.lowerContent {
    clear:both;
    display: -webkit-box;
    display: -ms-flexbox;
    // display: flex;
    word-wrap: break-word;
    width: 80%;
    display: inline-block;

    .lowerContentCard{
        width: 100%;
        -ms-flex-line-pack: center;
            align-content: center;
            word-wrap: break-word;
            margin-top: 10px;
    }

    img {
        width: 90%;
        height: auto;
        vertical-align: top;
        border: 1px solid #e0e0e0;
        border-bottom: 0px;
    }

    ul {
        padding: 0;
    }

    h3, p {
        font-size: 15px;
    }

    li {
        list-style-type: none;
        width: 30%;
        display: inline-block;
        vertical-align: top;

    }

    .cardContent {
        width: 30%;
        font-family: $font-family;
        border: 1px solid #e0e0e0;
        word-wrap: break-word;

    }

    .cardContainer {
        width: 90%;
        border: 1px solid #e0e0e0;
        height: 100px;
        padding: 10px;
        margin-bottom: 10px;
    }
}
